<!-- history.html -->
<div class="container" ng-init="historyCookie()">
    <h2>History Cookies</h2>
    <p>Summary total: {{totalRecords}}</p>
    <form name="myForm">
        <table class="table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th colspan="2">Q</th>
                  <th>U</th>
                  <th>T</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pool.pool1">
                    <td>{{item.name}}</td>
                    <td>
                        <input name="{{item.name}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" type="number" min="1" max="10" ng-model="item.quantity">
                    </td>
                    <td>
                        <span ng-show="!myForm[item.name].$valid">
                            Maximum is 10.
                        </span>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price*item.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <span ng-show="myForm.$valid" ng-bind="grandTotal()"></span>
        <button ng-show="myForm.$valid" ng-click="applyFunc()">Apply</button>
    </form>
</div>