<section class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2>{{kioskName}}</h2>
                <p>Giỏ hàng</p>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb">
                    <li><a href="/{{kioskFriendly}}">{{kioskName}}</a></li>
                    <li class="active">Giỏ hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content account">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <article class="account-content">

                    <form>
                        <div class="products-order shopping-cart">
                            <div class="table-responsive">
                                <table class="table table-products">
                                    <thead>
                                        <tr>
                                            <th colspan='2'>Sản phẩm</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th colspan='2'>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in shoppingCart.kioskFriendly">
                                            <td class="col-xs-1"><img src="{{product.src}}" alt="" class="img-responsive"></td>
                                            <td class="col-xs-4 col-md-5">
                                                <h4>
                                                    <a href="{{'/'+kioskFriendly+'/san-pham/'+product.friendly}}">{{product.name}}</a>
                                                    <small>{{product.attributes}}</small>
                                                </h4>
                                            </td>
                                            <td class="col-xs-2 text-center"><span>{{product.price | number:0}}</span></td>
                                            <td class="col-xs-2 col-md-1">
                                                <div class="form-group">
                                                    <input class="form-control" value="{{product.quantity | number:0}}" type="text">
                                                </div>
                                            </td>
                                            <td class="col-xs-2 text-center"><span><b ng-bind="{{(product.price * product.quantity)}}"></b></span></td>
                                            <td class="col-xs-1 text-center"><a href="" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="products.html" class="btn btn-inverse">Continue Shopping</a>
                            <a href="" class="btn btn-inverse update-cart">Update Shopping Cart</a>
                        </div>

                        <div class="box">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>Tôi có Mã Giảm Giá.</h5>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Mã giảm giá của tôi..." type="email">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">Sử dụng</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-offset-2">
                                    <ul class="list-unstyled order-total">
                                        <li>Tổng cộng<span>$315.00</span></li>
                                        <li>Giảm giá<span>- $25.00</span></li>
                                        <li>Thanh toán<span class="total">$290.00</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <a href="checkout.html" class="btn btn-primary btn-lg pull-right ">Xác nhận mua hàng</a>
                        </div>
                    </form>

                </article>
            </div>
        </div> 
    </div>
</section>