<!-- home.html -->
    
    <!-- ==========================
    	JUMBOTRON - START 
    =========================== -->
    <banner-slide></banner-slide>
    <!-- ==========================
    	JUMBOTRON - END 
    =========================== -->
    
    <!-- ==========================
    	FEATURED PRODUCTS - START 
    =========================== -->
    <section class="content featured-products">
        <div class="container">
        	
            <div class="tabs vertical-tabs">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                        	<li role="presentation" class="active"><a href="#featuredproducts-1" role="tab" data-toggle="tab" aria-controls="featuredproducts-1" aria-expanded="true">uMarket Membership</a></li>
                            <li role="presentation" class=""><a href="#featuredproducts-2" role="tab" data-toggle="tab" aria-controls="featuredproducts-2" aria-expanded="false">Winter Collection 2015</a></li>
                            <li role="presentation" class=""><a href="#featuredproducts-3" role="tab" data-toggle="tab" aria-controls="featuredproducts-3" aria-expanded="false">Featured Products</a></li>
                            <li role="presentation" class=""><a href="#featuredproducts-4" role="tab" data-toggle="tab" aria-controls="featuredproducts-4" aria-expanded="false">Newslatter</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div class="tab-content">
                        	
                            <div role="tabpanel" class="tab-pane active in" id="featuredproducts-1">
                                <div class="row">
                                	<div class="col-sm-6">
										<h2>Buy Our Theme</h2>
                                        <p>With tons of features such as wish list, product comparation, animated slideshow carousel, mega menu, smoth scroll, email template and more you will ben umber one on the market. Take the lead ahead of your competition.</p>
                                		<a href="#" class="btn btn-default btn-lg">Only $16</a>
                                    </div>
                                    <div class="col-sm-6">
                                    	<img src="/frontend/templates/assets/images/showcase.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane" id="featuredproducts-2">
                                <div class="row">
                                	<div class="col-sm-8">
                                    	<h3>Winter Collection 2015</h3>
                                        <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
                                        <a href="#" class="btn btn-default btn-lg">Let's Go</a>
                                    </div>
                                    <div class="col-sm-4">
                                    	<img src="/frontend/templates/assets/images/categories/category-1.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane" id="featuredproducts-3">
                                <div class="row">
                                	
                                    <!-- PRODUCT - START -->
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <article class="product-item">
                                            <img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                                            <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="price">
                                                <ins><span class="amount">$30.00</span></ins>
                                            </span>
                                        </article>
                                    </div>
                                    <!-- PRODUCT - END -->
                                    
                                    <!-- PRODUCT - START -->
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <article class="product-item">
                                            <img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                                            <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="price">
                                                <ins><span class="amount">$30.00</span></ins>
                                            </span>
                                        </article>
                                    </div>
                                    <!-- PRODUCT - END -->
                                    
                                    <!-- PRODUCT - START -->
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <article class="product-item">
                                            <img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                                            <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="price">
                                                <ins><span class="amount">$30.00</span></ins>
                                            </span>
                                        </article>
                                    </div>
                                    <!-- PRODUCT - END -->
                                    
                                    <!-- PRODUCT - START -->
                                    <div class="col-xs-6 col-md-3 hidden-sm">
                                        <article class="product-item">
                                            <img src="/frontend/templates/assets/images/products/product-4.jpg" class="img-responsive" alt="">
                                            <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="price">
                                                <ins><span class="amount">$30.00</span></ins>
                                            </span>
                                        </article>
                                    </div>
                                    <!-- PRODUCT - END -->
                                    
                                </div>
                            </div>
                            
                           	<div role="tabpanel" class="tab-pane" id="featuredproducts-4">
                            	<div class="row">
                                    <div class="col-sm-9">
                                    	<div class="newsletter-body">
                                            <h3>Newsletter</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <form>
                                                <div class="input-group input-group-lg">
                                                    <input type="text" class="form-control" placeholder="Enter email address">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button">Sign Up</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 newsletter-badge">
                                        <span>Subsribe & Get </span>
                                        <span class="price">$15</span>
                                        <span>discount</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        	
        </div>
    </section>
    <!-- ==========================
    	FEATURED PRODUCTS - END 
    =========================== -->
    
    <!-- ==========================
    	GRID PRODUCTS - START 
    =========================== -->
    <section class="content grid-products border-top">
        <div class="container">
        	 <div class="row">
             	
                <div class="col-xs-6 col-sm-3">
                    <article class="product-item">
                        <img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                        <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                        	<del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </article>
                </div>
                
                <div class="col-xs-6 col-sm-3">
                    <article class="product-item">
                        <img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                        <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                        	<del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </article>
                </div>
                
                <div class="col-xs-12 col-sm-3">
                    <ul class="list-unstyled small-product">
                    	
               			<!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                                <del><span class="amount">$36.00</span></del>
                            	<ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                            	<del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                            	<del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                            	<del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                    </ul>
                    
                </div>
                
                <div class="col-xs-12 col-sm-3">
                    <ul class="list-unstyled small-product">
                    	
               			<!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                                <del><span class="amount">$36.00</span></del>
                            	<ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                            	<del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                            	<del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                            	<del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                    </ul>
                    
                </div>
             </div>     	
        </div>
    </section>
    <!-- ==========================
    	GRID PRODUCTS - END 
    =========================== -->
    
    <!-- ==========================
    	SMALL PRODUCTS - START 
    =========================== -->
    <section class="content small-products">
        <div class="container">
        	<div class="row">
            	
                <!-- COLUMN - START -->
                <div class="col-sm-4">
                    <h2>Đang giảm giá</h2>
                    <ul class="list-unstyled small-product">
                    	
               			<!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <span class="price">
                                <del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <span class="price">
                                <del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <span class="price">
                                <del><span class="amount">$36.00</span></del>
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                    </ul>
                </div>
                <!-- COLUMN - END -->
                
                <!-- COLUMN - START -->
                <div class="col-sm-4">
                    <h2>Sản phẩm bán chạy</h2>
                    <ul class="list-unstyled small-product">
                    	
               			<!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                    </ul>
                </div>
                <!-- COLUMN - END -->
                
                <!-- COLUMN - START -->
                <div class="col-sm-4">
                    <h2>Xếp hạng đánh giá</h2>
                    <ul class="list-unstyled small-product">
                    	
               			<!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                        <!-- PRODUCT - START -->
                        <li class="clearfix">
                        	<a href="single-product.html">
                            	<img src="/frontend/templates/assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            	<h3>Sunny Tank Selected Femme</h3>
                            </a>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                        </li>
                        <!-- PRODUCT - END -->
                        
                    </ul>
                </div>
                <!-- COLUMN - END -->
                
            </div>
        </div>
    </section>
     <!-- ==========================
    	SMALL PRODUCTS - END 
    =========================== -->
     
    <!-- ==========================
    	SERVICES - START 
    =========================== -->
    <section class="content services services-3x">
        <div class="container">
        	<div class="row row-no-padding">
            
            	<!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-star"></i>
                        <h3>GIAO HÀNG TẬN NƠI MIỄN PHÍ</h3>
                        <p>Đảm bảo quý khách có thể nhận hàng sau 24h trong bán kính 30km và hoàn toàn miễn phí...</p>
                    </div>
                </div>
                <!-- SERVICE - END -->
                
                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-heart"></i>
                        <h3>SỰ CHĂM SÓC TỐT NHẤT</h3>
                        <p>Đảm bảo quý khách có thể đổi trả hàng trong thời hạn một tuần và hoàn toàn miễn phí...</p>
                    </div>
                </div>
                <!-- SERVICE - END -->
                
                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-user"></i>
                        <h3>ĐĂNG KÝ GIAN HÀNG!</h3>
                        <p>Bạn đã sẵn sàng bán những món hàng đầu tiên chưa? Hãy cùng tham gia với chúng tôi <a href="#">tại đây</a>...</p>
                    </div>
                </div>
                <!-- SERVICE - END -->
                
            </div>
            
        </div>
    </section>
    <!-- ==========================
    	SERVICES - END 
    =========================== -->
    
    
